<!-- SCRIPTS -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/stickyfill.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.animateNumber.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
<script>window.CKEDITOR_BASEPATH = '{{ url_for('static', filename='ckeditor/ckeditor/') }}';</script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
